@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Miniver');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Copse');

#brew{
	font-family: "IM Fell English SC";
	color: black;
	font-size: 100px;
}

#blog{
	font-family: "Homemade Apple";
	color: #380D00;
	font-size: 90px;

}


.parallax { 
    background-image: url("http://orderpantry.com/assets/load-wallpaper-6ccf57e093a3bdbbcd10d4b6327669cb.jpg");
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.splitter{
	width: 100%;
	height: 100px;
	padding-left: 3000px;
	margin-left: -3000px;
	padding-right: 3000px;
	margin-right: -3000px;
}

.navbar{
	margin-bottom: 0px;
}


.page-header{
	margin-left: -100px;
}
.jumbotron{
	background-color: transparent;
	margin-top: -165px;
}

.jumbotron img{
	width: 100px;
	height: 100px;
	margin-top: -85px;
}

.jumbotron h1{
	font-color: white;
}

.templates{
	margin-top: -100px;
}
body {
  font: 20px
  "Copse"
}

a {
  color: #00B7FF;
}


.glyphicon{
	padding-right: 20px;
}

.thumbnail:hover{
	opacity: 0.6;
}



.star-rating {
  line-height:50px;
  font-size:50px;
}

.star-rating .fa-star{color: black;}