@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Miniver');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Copse');

#brew{
	font-family: "IM Fell English SC";
	color: black;
	font-size: 100px;
}

#blog{
	font-family: "Homemade Apple";
	color: #380D00;
	font-size: 90px;

}


.parallax { 
    background-image: url("http://orderpantry.com/assets/load-wallpaper-6ccf57e093a3bdbbcd10d4b6327669cb.jpg");
    height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}


.navbar{
	margin-bottom: 0px;
}


.jumbotron{
	background-color: transparent;
	margin-top: -165px;
}

.jumbotron img{
	width: 100px;
	height: 100px;
	margin-top: -85px;
}

.form-group{
	text-align: center;
}

h4{
	padding-bottom: 10px;
}




#postBtn:hover{
	background-color: #a7a7a7;
	color: #482222;
}

#postBtn{
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 70px;
	background-color: #531818;
	color: white;
}

.jumbotron h1{
	font-color: white;
}

.templates{
	margin-top: -100px;
	padding-left: 50px;
	padding-right: 50px;
}

body {
  font: 20px
  "Copse"
}

a {
  color: #00B7FF;
}

p{
	font-size: 14px;
	color: gray;
	font-style: italic;
}


.glyphicon{
	padding-right: 20px;
}

.thumbnail:hover{
	opacity: 0.6;
}

.optional{
	float: right;
}


repeat {
    display:block;
}

repeat[n="1"]:before {
   content: "★";
}

repeat[n="2"]:before {
   content: "★★";
}

repeat[n="3"]:before {
   content: "★★★";
}

repeat[n="4"]:before {
   content: "★★★★";
}

repeat[n="5"]:before {
   content: "★★★★★";
}
