@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Miniver');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Copse');

#brew{
	font-family: "IM Fell English SC";
	color: white ;
	font-size: 90px;
	letter-spacing: 4px;
	opacity: 0.5;
	margin-top: -200px;
	margin-bottom: 100px;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}


.parallax { 
    background-image: url("http://orderpantry.com/assets/load-wallpaper-6ccf57e093a3bdbbcd10d4b6327669cb.jpg");
    height: 240px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}


.navbar{
	margin-bottom: 0px;
}

h1{
	font-size: 25px;
}

h4{
	padding-bottom: 10px;
}


.jumbotron{
	background-color: transparent;
	margin-top: -320px;
}


#logo{
	width: 400px;
	height: 300px;
}

.form-group, .input-group{
	text-align: center;
}


#postBtn:hover{
	background-color: #a7a7a7;
	color: #482222;
}

.input-group-addon{
	background-color: #a7a7a7;
}

.input-group-addon:hover{
	background-color: #482222;
	color: white;
}


#postBtn{
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 70px;
	background-color: #531818;
	color: white;
}



.templates{
	margin-top: -100px;
	padding-left: 50px;
	padding-right: 50px;
}

body {
  font: 20px
  "Copse"
}

a {
  color: #00B7FF;
}

p{
	font-size: 14px;
	color: gray;
}


.glyphicon{
	padding-right: 20px;
}

.caption:hover{
	opacity: 0.6;
	color: #531818;
	border-color: black;
	outline-color: black;
}

.optional{
	float: right;
}


.caption{
	padding-bottom:50px

}


table {
	font-size: 13px;
}

th{
	color: #a7a7a7;
	padding-right: 10px;
}

.description{
	height: 200px;
}

repeat {
    display:block;
}

repeat[n="1"]:before {
   content: "★☆☆☆☆";
}

repeat[n="2"]:before {
   content: "★★☆☆☆";
}

repeat[n="3"]:before {
   content: "★★★☆☆";
}

repeat[n="4"]:before {
   content: "★★★★☆";
}

repeat[n="5"]:before {
   content: "★★★★★";
}