@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Miniver');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

#brew{
	font-family: "IM Fell English SC";
	color: black;
	font-size: 100px;
}

#blog{
	font-family: "Homemade Apple";
	color: #380D00;
	font-size: 90px;
}


.parallax { 

    background-image: url("/images/background.jpg");
    height: 300px; 


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}



.jumbotron{
	background-color: transparent;
	margin-top: -150px;
}


.jumbotron img{
	width: 100px;
	height: 100px;
	margin-top: -70px;
}

.jumbotron h1{
	font-color: white;
}

body {
  padding: 50px;
  font: 14px
  "Raleway"
}

a {
  color: #00B7FF;
}



.thumbnail:hover{
	opacity: 0.6;
}